@{
    ViewBag.Title = "Inicio";
}

<div class="row justify-content-center">
    <h3>MENU</h3>
</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img class="card-img-top" src=" https://img1.looper.com/img/gallery/the-complicated-terminator-franchise-timeline-explained/intro-1595349245.jpg " alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Accion</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="background-color:darkred; color:white">Nombre</th>
                                <th style="background-color:darkblue; color:white">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Terminator 2</td>
                                <td style="background-color:lightblue; color:black">11:00-13:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Rambo</td>
                                <td style="background-color:lightblue; color:black">14:00-16:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Predator</td>
                                <td style="background-color:lightblue; color:black">16:00-17:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Godzilla</td>
                                <td style="background-color:lightblue; color:black">18:00-20:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Transformers</td>
                                <td style="background-color:lightblue; color:black">20:00-22:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-6 mb-2">
            <div class="card">
                <img class="card-img-top" src="https://www.diariodeavisos.com/wp-content/uploads/2015/08/freddykrueger.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Horror</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="background-color:darkred; color:white">Nombre</th>
                                <th style="background-color:darkblue; color:white">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Actividad Paranormal</td>
                                <td style="background-color:lightblue; color:black">11:00-13:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Saw</td>
                                <td style="background-color:lightblue; color:black">13:30-15:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Viernes 13</td>
                                <td style="background-color:lightblue; color:black">16:00-17:40</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Pesadilla en la calle Elm</td>
                                <td style="background-color:lightblue; color:black">18:00-20:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">It</td>
                                <td style="background-color:lightblue; color:black">20:30-23:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://ultrabrit.com/wp-content/uploads/2017/10/full-metal-jacket-03.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Drama</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="background-color:darkred; color:white">Nombre</th>
                                <th style="background-color:darkblue; color:white">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Full Metal Jacket</td>
                                <td style="background-color:lightblue; color:black">8:00-10:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">The Deer Hunter</td>
                                <td style="background-color:lightblue; color:black">10:20-13:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Scarface</td>
                                <td style="background-color:lightblue; color:black">13:50-16:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">La Bamba</td>
                                <td style="background-color:lightblue; color:black">16:30-18:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Pulp Fiction</td>
                                <td style="background-color:lightblue; color:black">18:30-21:30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://i1.wp.com/academycenter.org/wp-content/uploads/2018/12/back-to-the-future-trilogy-1122951-1280x0.jpg?fit=1280%2C718&ssl=1" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Ciencia ficcion</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="background-color:darkred; color:white">Nombre</th>
                                <th style="background-color:darkblue; color:white">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Volver al futuro</td>
                                <td style="background-color:lightblue; color:black">11:00-13:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">E.T. el extraterrestre</td>
                                <td style="background-color:lightblue; color:black">13:30-15:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Star Wars episodio IV</td>
                                <td style="background-color:lightblue; color:black">16:00-18:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Matrix</td>
                                <td style="background-color:lightblue; color:black">19:00-21:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Alien</td>
                                <td style="background-color:lightblue; color:black">21:40-23:40</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/EnlbiXNGwBLFjZbgq_HJL-5wf-d0XCK7foy5tDrmdygVT6YZmWPQPVKulQPcpX6fF20C3LYUJ0OCLzEk1L5rE7RiEaz4o9EJ5_H_NPcYPjhgoU21R5sBQNCTn4WxF4tIpglyPeEDiI5X0N9wHCl-FLZZAwmaSNpPUA" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Comedia</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="background-color:darkred; color:white">Nombre</th>
                                <th style="background-color:darkblue; color:white">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Ferris Bueller's day off</td>
                                <td style="background-color:lightblue; color:black">11:00-13:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Ghostbusters</td>
                                <td style="background-color:lightblue; color:black">13:30-15:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">National Lampoon's vacations</td>
                                <td style="background-color:lightblue; color:black">16:00-17:40</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Airplane!</td>
                                <td style="background-color:lightblue; color:black">18:00-19:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Wayne's World</td>
                                <td style="background-color:lightblue; color:black">19:40-21:10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Super heroes</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="background-color:darkred; color:white">Nombre</th>
                                <th style="background-color:darkblue; color:white">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Actividad Paranormal</td>
                                <td style="background-color:lightblue; color:black">11:00-13:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Saw</td>
                                <td style="background-color:lightblue; color:black">13:30-15:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Viernes 13</td>
                                <td style="background-color:lightblue; color:black">16:00-17:40</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Pesadilla en la calle Elm</td>
                                <td style="background-color:lightblue; color:black">18:00-20:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">It</td>
                                <td style="background-color:lightblue; color:black">20:30-23:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Animacion</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="background-color:darkred; color:white">Nombre</th>
                                <th style="background-color:darkblue; color:white">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Actividad Paranormal</td>
                                <td style="background-color:lightblue; color:black">11:00-13:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Saw</td>
                                <td style="background-color:lightblue; color:black">13:30-15:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Viernes 13</td>
                                <td style="background-color:lightblue; color:black">16:00-17:40</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Pesadilla en la calle Elm</td>
                                <td style="background-color:lightblue; color:black">18:00-20:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">It</td>
                                <td style="background-color:lightblue; color:black">20:30-23:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Crimen</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="background-color:darkred; color:white">Nombre</th>
                                <th style="background-color:darkblue; color:white">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Actividad Paranormal</td>
                                <td style="background-color:lightblue; color:black">11:00-13:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Saw</td>
                                <td style="background-color:lightblue; color:black">13:30-15:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Viernes 13</td>
                                <td style="background-color:lightblue; color:black">16:00-17:40</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Pesadilla en la calle Elm</td>
                                <td style="background-color:lightblue; color:black">18:00-20:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">It</td>
                                <td style="background-color:lightblue; color:black">20:30-23:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Aventura</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="background-color:darkred; color:white">Nombre</th>
                                <th style="background-color:darkblue; color:white">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Actividad Paranormal</td>
                                <td style="background-color:lightblue; color:black">11:00-13:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Saw</td>
                                <td style="background-color:lightblue; color:black">13:30-15:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Viernes 13</td>
                                <td style="background-color:lightblue; color:black">16:00-17:40</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Pesadilla en la calle Elm</td>
                                <td style="background-color:lightblue; color:black">18:00-20:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">It</td>
                                <td style="background-color:lightblue; color:black">20:30-23:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Viejo Oeste</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="background-color:darkred; color:white">Nombre</th>
                                <th style="background-color:darkblue; color:white">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Actividad Paranormal</td>
                                <td style="background-color:lightblue; color:black">11:00-13:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Saw</td>
                                <td style="background-color:lightblue; color:black">13:30-15:30</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Viernes 13</td>
                                <td style="background-color:lightblue; color:black">16:00-17:40</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">Pesadilla en la calle Elm</td>
                                <td style="background-color:lightblue; color:black">18:00-20:00</td>
                            </tr>
                            <tr>
                                <td style="background-color:lightcoral; color:black">It</td>
                                <td style="background-color:lightblue; color:black">20:30-23:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>